body {
    margin-bottom:70px;
    background-color: #f2f2f2;
    
}

#footer{
    position:fixed;
    height:70px;
    background-color: #333333;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    width:100%;
    margin-left:0;
    margin-right:0;
    text-align:center;
}

#container {
    margin-top: -40px;
    background-color: #f2f2f2;
}

#Sidebar {
    height:100%;
    background-color:#f2f2f2;

}