<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <sessionState mode="InProc" timeout="20"></sessionState>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" requestValidationMode="2.0" />
    <customErrors mode="Off" />
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="title.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <appSettings>
    <add key="AdminEmail" value="dylansteele57@gmail.com" />
    <add key="BaseURL" value="http://www.dssteele.com/home.aspx" />
  </appSettings>
  <connectionStrings>
    <add name="DB" connectionString="Data Source=SQL5016.SmarterASP.NET;Initial Catalog=DB_A105F9_WEBSITE;User Id=DB_A105F9_WEBSITE_admin;Password=Abz83tYztoP!;" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="SYSTEM@dssteele.com">
        <network host="mail.dssteele.com" port="8889" userName="SYSTEM@dssteele.com" password="tp5Ghptyz6!" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
