.float-left {
    float: left;
}
.float-right {
    float: right;
}

.clear {
    clear:both;
}

.stock-container {
    width:40%;
    margin:auto;
}
.padding {
    padding:1.25em;
}

.center {
    text-align:center;
}

.Success {
    font-size: 1.25em;
    font-weight: 700;
    color: #2eb82e;
}

.Failure {
    font-size: 1.25em;
    font-weight: 700;
    color: #ff4d4d;
}